---
title: フォントの設定
---

<p>「KDE の起動が遅い！　アプリケーションの動作が重い！」<br>
よくこのような苦情が寄せられます。</p>

<p>フォントの設定を適切に行わないと上記のような症状が発生します。<br>
ホームディレクトリに <font color="red"><b>.qti18nrc</b></font> というファイルを作って
以下の内容を記述してみてください。</p>

<p>cf. <a href="./start_time.html">起動にどれくらい時間がかかるかの目安</a></p>

<hr>

<h2>Vine Linux</h2>
<blockquote>
<h3>ビットマップ（きれいですが、少し遅いです）</h3>
<pre>
*       -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
        -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
</pre>
<h3>TrueType（フリー版）</h3>
<pre>
fixed     -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
helvetica -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -aliastt-gothic-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
*	  -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -aliastt-mincho-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
</pre>
<h3>TrueType（CR版）</h3>
<pre>
fixed     -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -alias-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
helvetica -dynalab-dfgothicp-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -dynalab-dfgothicp-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
*	  -dynalab-dfminchop-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -dynalab-dfminchop-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
</pre></blockquote>

<h2>日本語 redhat Linux 5.2</h2>
<blockquote>調査中</blockquote>

<h2>Turbo Linux 4.0（フリー版）</h2>
<blockquote>調査中</blockquote>

<h2>Turbo Linux 3.0</h2>
<blockquote>調査中</blockquote>

<h2>FreeBSD</h2>
<blockquote>
パッケージから以下をインストールしてください。
<ol>
<li>お使いのグラフィックボードに対応した X-TT サーバ</li>
<li>ja-truetypefonts<br>
（あくまでフリーのフォントのため、小さい文字では表示が少々潰れます）</li>
</ol>
<pre>
fixed     -misc-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -misc-fixed-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
helvetica -misc-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -wadalab-gothic-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
*	  -misc-fixed-*-*-*--*-*-*-*-c-*-jisx0201.1976-0, \
	  -watanabe-mincho-*-*-*--*-*-*-*-c-*-jisx0208.1983-0
</pre></blockquote>

<p><font color="red">（注）</font>
日本語 KDE があらかじめ設定済みのディストリビューションは省略しています。</p>

<p>All units are in pixels unless otherwise specified</p>
<p>最終更新日: 1999年7月15日</p>
