---
title: FAQ/2 - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">ウィンドウを動かすとKDEがフリーズする  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F2#l91916a2" id="l91916a2" title="l91916a2">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: -----</li>
<li>アプリケーション: 指定無し</li>
<li>作成日: 2003-07-28 (月) 23:30:47</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F2#t1ef3d09" id="t1ef3d09" title="t1ef3d09">†</a></h3>
<p>ウィンドウを動かそうとするとKDEがフリーズしてしまいます。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F2#y4acdd39" id="y4acdd39" title="y4acdd39">†</a></h3>
<p>KDEコントロールセンターを起動し、「ウィンドウの挙動」の「移動」タブをクリックし、<br/>
「移動中のウィンドウの内容を表示」と「サイズ変更中のウィンドウの内容を表示」<br/>
にチェックを入れることで、この問題は解消できます。</p>
<p>KDE-3.1.4では直っているはずです:-)</p>
<p><a href="http://bugs.kde.org/show_bug.cgi?id=44881#c13" rel="nofollow">http://bugs.kde.org/show_bug.cgi?id=44881#c13</a>
<a href="http://google.co.jp/" rel="nofollow">http://google.co.jp/</a></p>
<div class="counter">
Counter:   21,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F2#ved43a0f" id="ved43a0f" title="ved43a0f">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/2"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="4d27b47ee362a2eaf2e1075459e71069"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
