---
title: FAQ/6 - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">googleの検索結果で上部のテーブルがつぶれる  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F6#o0e83723" id="o0e83723" title="o0e83723">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: 3.x</li>
<li>アプリケーション: Konqueror</li>
<li>作成日: 2003-08-28 (木) 13:19:36</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F6#vb4a26a3" id="vb4a26a3" title="vb4a26a3">†</a></h3>
<p>googleで検索を行うと、検索結果の上の方に表示される
"ウェブ"、"イメージ"、"グループ"、"ディレクトリ"の表示が
つぶれた感じに表示されてしまう。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F6#pb8a068b" id="pb8a068b" title="pb8a068b">†</a></h3>
<p>bus.kde.orgに<a href="http://bugs.kde.org/show_bug.cgi?id=50801" rel="nofollow">報告されて</a>いて、CVSでは直っています。</p>
<p>＜table width="1%"＞＜tr＞＜td＞日本語＜/td＞＜/tr＞＜/table＞ <br/>
などのときに、テーブル内の文字の幅がゼロになっているのが原因らしいです。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_3">別解  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F6#yf83000a" id="yf83000a" title="yf83000a">†</a></h3>
<p>CSSを設定することによってこの現象を回避できます。(対症療法ですが・・・)</p>
<pre>body &gt; table &gt; tr &gt; td &gt; center {
	display: inline;
}</pre>
<p>このような内容のCSSファイルを用意して、Konqueror設定パネルで<br/>
上記のファイルをユーザ定義スタイルシートとして指定します。<br/>
<a href="http://forums.gentoo.org/viewtopic.php?p=346652#346652" rel="nofollow">http://forums.gentoo.org/viewtopic.php?p=346652#346652</a></p>
<div class="counter">
Counter:   39,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_4">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F6#ce3b227b" id="ce3b227b" title="ce3b227b">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/6"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="777104f402a3e1d1cd21f6a6f2e8b133"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
