---
title: FAQ/8 - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">KDevelopでメモリのダンプ  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F8#leb6cb6d" id="leb6cb6d" title="leb6cb6d">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: -----</li>
<li>アプリケーション: KDevelop</li>
<li>作成日: 2006-04-18 (火) 09:17:58</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F8#y20620cf" id="y20620cf" title="y20620cf">†</a></h3>
<p>MS社の<span class="noexists">VisualStudio<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=VisualStudio&amp;refer=FAQ%2F8">?</a></span>では、メモリ領域のダンプが出来ますが、
KDevelopで同じことは出来ますか？</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F8#a66db737" id="a66db737" title="a66db737">†</a></h3>
<div class="counter">
Counter:   22,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F8#kc199ae2" id="kc199ae2" title="kc199ae2">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/8"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="b2b4bc1a6bf5f587e4cf7016892087a4"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
