---
title: KDE 3.0 アーキテクチャ - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?%B3%AB%C8%AF%BC%D4%B8%FE%A4%B1%A5%C9%A5%AD%A5%E5%A5%E1%A5%F3%A5%C8" title="開発者向けドキュメント (339d)">開発者向けドキュメント</a></p>
<p>オリジナル：<a href="http://techbase.kde.org/Development/Architecture/KDE3" rel="nofollow">KDE 3.0 architecture</a></p>
<p><strong>開発フレームワーク</strong></p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4" title="KDE 3.0 アーキテクチャ/開発フレームワーク/ライブラリ構造 (461d)">ライブラリ構造</a></li>
<li>システムリソースへのアクセス
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%C9%B8%BD%E0%A4%CE%A5%EA%A5%BD%A1%BC%A5%B9" title="KDE 3.0 アーキテクチャ/システムリソースへのアクセス/標準のリソース (1880d)">標準のリソース</a></li>
<li><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%A5%A2%A5%A4%A5%B3%A5%F3%A4%CE%A5%ED%A1%BC%A5%C7%A5%A3%A5%F3%A5%B0" title="KDE 3.0 アーキテクチャ/システムリソースへのアクセス/アイコンのローディング (3566d)">アイコンのローディング</a></li>
<li>システム設定のキャッシュ(KSycoca)</li></ul></li>
<li>グラフィックス
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>QPainterを用いた低水準グラフィックス</li>
<li>QCanvasを用いた構造化グラフィックス</li>
<li>OpenGLを用いた3Dグラフィックス</li></ul></li>
<li>ユーザーインターフェース
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>Action Pattern</li>
<li>XMLによるメニューとツールバーの定義</li>
<li>オンラインヘルプの提供</li></ul></li>
<li>複雑なウィジット
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><del><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%CA%A3%BB%A8%A4%CA%A5%A6%A5%A3%A5%B8%A5%C3%A5%C8%2FHTML%A5%EC%A5%F3%A5%C0%A5%E9" title="KDE 3.0 アーキテクチャ/開発フレームワーク/複雑なウィジット/HTMLレンダラ (3565d)">HTMLレンダラ</a></del><a class="note_super" href="#notefoot_1" id="notetext_1" title="訳したものの古いと思われる by...">*1</a></li>
<li>ファイルダイアログ</li>
<li>大量のデータの表示(Q<span class="noexists">ListView<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ListView&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3">?</a></span>, Q<span class="noexists">ListBox<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ListBox&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3">?</a></span>, Q<span class="noexists">IconView<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=IconView&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3">?</a></span>を用いる)</li></ul></li>
<li>コンポーネントとサービス
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>KDEサービス</li>
<li>MIMEタイプ</li>
<li>ネットワーク透過性</li></ul></li>
<li>クライアント内コミュニケーション
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>デスクトップコミュニケーションプロトコル(DCOP)</li>
<li>XML-RPC</li></ul></li>
<li>外部プログラムの実行</li>
<li>i18nとl10n</li></ul>
<p>デスクトップフレームワーク</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>パネルアプレット</li>
<li>コントロールセンターモジュール</li></ul>
<p>マルチメディアフレームワーク</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>aRts</li>
<li>イメージング/アニメーション</li></ul>
<p>コンポーネントアーキテクチャ</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li><del>KParts(古そう)</del></li>
<li>パネル上のシステムトレイへのドッキング</li>
<li>Javaの統合</li></ul>
<p>KOfficeアーキテクチャ</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Document/Viewのイントロダクション</li>
<li>フィルタ</li></ul>
<p>プロトコル</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Windowマネージメント</li>
<li>Sessionマネージメント</li>
<li>システムトレイへのドッキング</li>
<li>ドラッグ・アンド・ドロップ</li>
<li>印刷</li></ul>
<p>開発ツール</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Interface Documentation Tool(kdoc)</li>
<li>Integrated Development Environment(KDevelop)</li>
<li>Graphical Debugger(kdbg)</li>
<li>CVS Frontend(Cervisia)</li>
<li>Advanced(Developer's)Text Editor(kwrite)</li>
<li>Icon Editor(K<span class="noexists">IconEdit<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=IconEdit&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3">?</a></span>)</li>
<li>Hex Editor</li></ul>
<p>Development HOWTOs</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Binary Compatibility Issues With C++</li>
<li>C++のバイナリ互換性に関する問題</li>
<li>How to use unicode with KDE</li>
<li>KDEでunicodeを扱う方法</li></ul>
<div class="counter">
Counter:   32,
today:     1,
yesterday: 0
</div>
