---
title: Konqueror - 旧 Wiki アーカイブ
---

<p><span class="noexists">kdebase<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=kdebase&amp;refer=Konqueror">?</a></span></p>
<p>本家サイト : <a href="http://www.konqueror.org/" rel="nofollow">http://www.konqueror.org/</a></p>
<h2 id="content_1_0">Konquerorの機能</h2>
<p>ファイルマネージャとしてもブラウザとしても動作します。</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>KonquerorはUNIXファイルシステムをサポートするファイルマネージャです。単純なローカルファイルに対する cut/copy そして paste 、シンボリックリンクといった機能はもちろんリモートファイルのブラウジングも可能です。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>KonquerorはKIO SlaveやKPartsといった最新のKDEの技術の現れとも言えます。そして同時にカスタマイズ性にかけても優れています。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>KonquerorはHTML4.0に準拠し、Java applets, <span class="noexists">JavaScript<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=JavaScript&amp;refer=Konqueror">?</a></span>, CSS1, そして部分的にCSS2をサポートしているオープンソースなWebブラウザです。またFlashや<span class="noexists">RealVideo<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=RealVideo&amp;refer=Konqueror">?</a></span>といった<span class="noexists">NetscapePlugin<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=NetscapePlugin&amp;refer=Konqueror">?</a></span>にも対応しています。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Konquerorは他のアプリケーションを起動せずとも、Konqueror自身に組みこまれた読み込み専用のコンポーネントを使用してドキュメントを見ることができる、ファイルビューイングアプリケーションです。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Konquerorは各種メディアの再生機能、及びエンコードの機能を持ちます。手持ちの音楽CDをKonqueror上からWav、MP3、Ogg Vorbisといったファイルにエンコードできます。</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h2 id="content_1_1">起動時間</h2>
<p>silent機能を持っており、常にバックグラウンドで待機させることができます。これによって起動時間が格段に速くなります。</p>
<p>また待機させる数はKControlで設定することができます。(もちろん切ることもできます)</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h2 id="content_1_2">Web ショートカット</h2>
<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?Web%20%A5%B7%A5%E7%A1%BC%A5%C8%A5%AB%A5%C3%A5%C8" title="Web ショートカット (2160d)">こちら</a></p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h2 id="content_1_3">Tips</h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>英辞郎がみたい<br/>
Webショートカットを使うのがおすすめ。上記参照。文字コードはsjisです。
<pre>検索URI  http://www2.alc.co.jp/ejr/index.php?word_in=\{@}&amp;word_in2=&amp;word_in3=*</pre></li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>google mapがみたい<br/>
User-Agent(ブラウザ識別)をSafariにする。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>外部からURLを呼び出したい
<pre>#!/bin/sh
kfmclient openURL $@</pre>
というシェルスクリプトを作ってコマンドパスに加えると便利です。</li></ul>
