---
title: こんなに簡単 KBabel
---

<p><br>ここではKBabelの最低限の設定と使用法について述べていきます。かなりビジュアルに書いたので読み込みに
<br>時間がかかるかも知れませんが、分かりやすくなっているはずです。
<br>&nbsp;
<h3>
<font color="#3333FF">KBabelとは</font></h3>
KBabelはKDEの翻訳チームが使用している翻訳補助ツールです。KDE1の頃にあったKTranslatorに比べて
<br>検索機能、使い勝手、UTF8エンコーディング、エラーチェック機能など大幅に機能が強化されています。
<br>KDEだけでなく他の翻訳プロジェクトの人にも有用なツールでしょう。
<h3>
<font color="#3333FF">インストール</font></h3>
ここではKBabel-0.8の場合で説明します。KDE-2.2系に含まれるKBabelはバージョン0.9.xですが
<br>日本語メッセージファイルとの相性が悪いみたいなので(本家に問い合わせているところです),0.8を
<br>使用して下さい。インストールにはlibdb2、コンパイルにはlibdb2-devが必要です。
<br>コンパイルは以下の通りです。
<br>./configure --prefix=$KDEDIR
<br>make
<br>su
<br>make install
<h3>
<font color="#3333FF">KBabelの設定</font></h3>
KBabelを立ち上げると魚のスプラッシュスクリーンの後にKBabelが立ち上がります。
<br>初回立ち上げ時は設定の入力を求めるダイアログが出て来ます。
<p>(画面1 設定の入力を求めるダイアログ)
<br><img SRC="./kbabel01.png" height=172 width=282>
<p>「はい」を押すと次の画面になります。
<p>(画面2 設定ダイアログ- 個人情報)
<br><img SRC="./kbabel2.png" height=431 width=536>
<p>ここには自分の名前とメールアドレスを入力して下さい。そのほかの情報は上の画面を参考にして下さい。
<p>個人情報の他の大きな設定項目としては「エディタ」、「検索」、「保存」、「カタログマネージャ」、「その他」があります。
<br>そのうち「エディタ」に関しては好みで設定して下さい。「その他」はいじる必要が無いと思います。
<br>次に「検索」の設定を行います。
<p>(画面3 設定ダイアログ-検索)
<br><img SRC="./kbabel3.png" height=431 width=536>
<p>検索は翻訳中にデータベース(3種類ありますがこれの設定は<a href="#dbsetting">後</a>で説明します)の中から検索してきて
<br>画面右下部に表示してくれます。「自動的に検索を開始」をチェックすると次のメッセージに移動したときに
<br>自動的に検索を開始して表示してくれます。ちなみに3種類というのは以下の通りです。
<br>翻訳データベース：内蔵データベースシステムによってローカルにあるファイルからインデックスを作成します。
<br>po補助：今までに翻訳されたものを合わせた日本語翻訳ファイルから検索します。
<br>po要約：他の言語(ドイツ語とか)のファイルから該当語を探して来ます。普通必要無いでしょう^^;;;
<br>相当遅いマシンならともかく(まあ486でKDE使っている人とかいないでしょう^^;)、普通のマシンなら
<br>数分でインデックスを作成できるので翻訳データベースを使用するのがよいでしょう。
<p>設定は<a href="#dbsetting">辞書の設定</a>のところで説明します。
<p>次に「保存」の項目です。
<br>(画面4 設定ダイアログ-保存)
<br><img SRC="./kbabel5.png" height=431 width=536>
<p>ここで重要なのはエンコーディングです。これは<b><font color="#FF0000"><font size=+2>必ず</font></font></b>UTF8にして下さい。KDE2ではほとんどの文字を
<br>内部でUTF8で扱っています。メッセージカタログもja.poは全てUTF8になっています。一般的なエディタでは
<br>UTF8を扱えないのが多いですが、KBabelでメッセージカタログを扱う分にはほとんど意識しないで済むので
<br>ここは必ずUTF8にして下さい。
<p>最後にカタログマネージャの項目です。
<br>(画面5 設定ダイアログ-カタログマネージャ)
<br><img SRC="./kbabel6.png" height=431 width=536>
<p>まずテンプレートと日本語メッセージファイルを<a
href="ftp://ftp.kde.gr.jp/pub/kde/messages/">ここ</a>からダウンロードします。<br>そして展開したディレ
クトリをそれぞれ上に指定します。例えば/usr/local/extend/kde-i18nというディレクトリで<br>これらのファイルを展開した場合は上の画面の
ようにします。<p>以上で本体の設定は終了です。なおこれらはメニューバーの「設定」→「KBabelの設定」から再設定できます。
<br>&nbsp;
<h3>
<a NAME="dbsetting"></a><font color="#3333FF">辞書の設定</font></h3>
辞書の設定はメニューバーの「設定」→「辞書の設定」で行います。
<p>・翻訳データベースの設定
<br>「辞書の設定」から「翻訳データベース」を選択すると設定ダイアログが現れます。
<br>(画面6 翻訳データベース設定ダイアログ)
<br><img SRC="./kbabel7.png" height=466 width=358>
<br>グッドキーというのはどれだけクエリーに近いかということです。ここらへんはあまりいじる必要が無いでしょう。
<br>データベースインデックスを作成するには上の画面で「ディレクトリ、サブディレクトリをスキャン」を選択して
<br>日本語メッセージファイルを展開したできたディレクトリ(さっきの例なら/usr/local/extend/kde-i18n/ja/messages)
<br>を指定するとインデックス作成が始まります。数分待ちましょう。
<p>・po補助/要約の設定
<br>「辞書の設定」から「po補助」または「po要約」を選択すると設定ダイアログが現れます。
<br>(画面7 po補助設定ダイアログ)
<br><img SRC="./kbabel8.png" height=269 width=358>
<br>ここからダウンロードしたファイルを解凍しそのファイルが置いてあるディレクトリを指定します。
<br>変数が使用できますが普通に直接指定すると良いでしょう。
<h3>
<font color="#3333FF">カタログマネージャ</font></h3>
<font color="#000000">ファイルの選択をしたり、翻訳の進捗の確認をするのにはカタログマネージャというものを使用します。</font>
<br><font color="#000000">メニューバーの「ツール」→「カタログマネージャ」から起動します。</font>
<br>(画面8 <font color="#000000">カタログマネージャ</font>)
<br><img SRC="./kbabel10.png" height=304 width=561>
<br>フォルダをクリックするとツリーが展開されます。<b><font color="#FF6666">×</font></b>印は完全に未翻訳、<b><font color="#3333FF">!</font></b>印は部分的に翻訳されている、
<br><b><font color="#009900">V</font></b>印は翻訳済みです。<b><font color="#FF0000">×</font></b>と<b><font color="#3333FF">!</font></b>を減らしていきましょう
:-)
<h3>
<font color="#3333FF">使用法</font></h3>
KBabelは4つの部分に分かれています。
<br>(画面9 KBabel)
<br><img SRC="./kbabel9.png" height=448 width=544>
<p>左上が翻訳する文字列(Msgid)、左下が翻訳を入力するフィールド(Msgstr)、右上が翻訳情報、左下が翻訳結果です。
<br>左下の部分に翻訳を入力していきます。文法が間違っていると赤く表示されます。
<p>ショートカットキーがいくつか設定されていますが特に以下のショートカットはよく使います。
<br>PageDown 次のメッセージ
<br>PageUp 前のメッセージ
<br>Ctrl+Alt+PageDown 次のFuzzyか未翻訳メッセージ
<br>Ctrl+Space MsgidをMsgstrにコピー
<br>Ctrl+Alt+Space 検索結果をMsgstrにコピー
<p>以上です。KBabelを使ってKDEのメッセージ・ドキュメントをがんがん翻訳して下さい:-)。
<h3>
<font color="#3333FF">リンク</font></h3>
KBabelホームページ
<br>KDE Internationalization Project <a href="http://i18n.kde.org">http://i18n.kde.org</a>
<p>不明な点は<a href="mailto:kom@kde.gr.jp">kom@kde.gr.jp</a>までメールを下さい。
<p><a href="./">メッセージ翻訳プロジェクトトップページ</a>
<br>
<p>All units are in pixels unless otherwise specified</p>
<p>最終更新日：2001年7月09日</p>
