---
title: Windows クライアントからの IPP を使用した印刷方法
---

<img src="./full_logo.jpg" alt="title" />

<p>Windows2000/XPではネットワークを介した標準規格の印刷プロトコルであるIPP(Internet Printing Protocol)に対応しています。よってCUPSサーバをIPPサーバ、Windows2000/XPをIPPクライアントとして印刷をすることが可能です。ここではCUPSで<a href="./samba_cups.html">rawプリンタ</a>を設定してある時にWindows2000/XPをIPPクライアントとして使用する時のWindows2000/XPの設定方法を説明します。
</p>

<p>まずコントロールパネルで「プリンタ」を選択し「プリンタの追加」ボタンをダブルクリックします。するとプリンタの追加ウィザードが起動します。「次へ」をクリックします。
<br /><img src="./ipp1.png" alt="プリンタの追加ウィザード" /><br /><br />
次にネットワークかローカルかを聞かれるので「ネットワークプリンタ」を指定し、「次へ」をクリックします。
<br /><img src="./ipp2.png" alt="ネットワークかローカルか" /><br /><br />
「インターネットまたはイントラネット上のプリンタに接続します」にチェックし、CUPSサーバのIPPプリンタのアドレスを指定します。<br />
書式は「http://"CUPSサーバのアドレス":631/printers/"プリンタ名"」です。「次へ」をクリックします。
<br /><img src="./ipp3.png" alt="ドライバをインストール" /><br /><br />
ローカルにドライバをインストールします。自分のモデルを選択して下さい。一覧にない場合はドライバディスクを使用して下さい。（これはドライバ共有などのうまい方法があるかも知れません。）「OK」をクリックします。
<br /><img src="./ipp4.png" alt="通常使うプリンタ" /><br /><br />
最後に「通常使うプリンタ」にするかどうかを選択します。「次へ」をクリックします。
<br /><img src="./ipp5.png" alt="" /><br /><br />
「完了」をクリックするとプリンタが追加されます。
<br /><img src="./ipp6.png" alt="設定完了" /><br />
</p>

<p>最終更新日：2002年11月18日</p>
