---
title: BSD-lpr → CUPS 乗り換え方法
---
<img src="./full_logo.jpg" alt="title" />

<p>　ここではDebianでlprから環境を乗り換える際の注意事項を列記します。多分Debianユーザ以外にも役に立つはずです。試行錯誤しながらやったのと、詳しく手順を記録しなかったので抜けているところもあるかもしれませんが、そこはDebianユーザ、がんばってください（笑）。BSD lprからの乗り換えを前提に書いていますが、まっさらの状態から構築する人にも役に立つはずです。
<br />　とりあえず必要なパッケージをapt-get install します。
<br /><kbd># apt-get install cupsys</kbd>
<br />ライブラリとか依存しているものも一緒に入ります。dselectでやるとsuggestされるcupsys-bsdがbsd-lprやlprngとconflictするのでapt-get installがおすすめです。
CUPSはプリンタ情報をPPD(Postscript Printer Description)で扱います。これがないと使用できるプリンタのモデルが激減します。別パッケージなのでインストールしましょう。
<br /><kbd># apt-get install cupsomatic-ppd</kbd>
<br />これもいろいろ依存しているので一緒に入れて下さい。ここからの進め方は２通りあります。</p>
<ul>
<li>ダウンタイムが気になる場合は先にCUPSシステムの設定を行います。</li>
<li>単に個人の環境で一日停止しても迷惑がかからない場合は先にインストールするものをインストールしてもらっても構いません。</li>
</ul>
<p>ここではダウンタイムを最小限にする手順で解説していきます。<br />
<br />　CUPSのlpr互換環境を残す場合重要なことがあります。それは</p>
<ul>
<li>　CUPSが参照するprintcapは/etc/printcap.cups</li>
<li>　既存のシステムが参照するprintcapは/etc/printcap</li>
</ul>
<p>ということです(注: 2つのシステムを混在させているからこうなるのであって、単独でインストールしたらCUPSのほうも/etc/printcapを参照するように設定されるものと思われます。ちなみに/etc/cups/cupsd.confにてどのprintcapを使用するかを変更できます)。さらに
CUPSが提供するlpr互換機能は、CUPSのlprがBSDのlprとコマンドが互換になるだけで、設定ファイルまで互換ではないということです
（実はこの後出てくるcupsys-bsdのインストールの際に何か聞かれて「parse」を選択したのですがCUPSに特に変化は起こりませんでした。不充分な情報ですみません）。<br />
　このことからCUPSでBSD lprのプリンタ名と同じプリンタ名を持つプリンタをCUPS側で用意しておく必要があります。
例えば/etc/printcapに「hp990c」というプリンタエントリがあった場合、<a href="./setting.html">設定</a>で見たように<a href="./kprint11.png">CUPSを設定</a>します。

エントリを作成したら（Rawプリンタ以外の場合は）テストページが印刷できるか確認してください。
<br />　つぎにいよいよlprをCUPSの互換コマンドで置換します。念のため/etc/printcapを/etc/printcap.bakにするなどバックアップをとっておいてください。
<br /><kbd># apt-get install cupsys-client</kbd>
<br /><kbd># apt-get install cupsys-bsd</kbd>
<br />
<br />/etc/printcapをCUPSのものにします。
<br /><kbd># ln -s printcap.cups printcap</kbd><br />
これで移行は終了です。いままでのlprが使用できるかテストしてください。</p>

<p>最終更新日: 2002年11月18日</p>
