---
title: リモート印刷サーバの構築
---

<img src="./full_logo.jpg" alt="title" />

<p>　ここではリモートプリンタの使用について解説します。<br />
　単純にリモートプリンタといっても様々な形態、組み合わせがあります。ここでは私が設定したことのあるものについて説明します。もちろん「こんな事例もあるぞ」というのは大歓迎なので私宛てにメールをしてください:)。</p>
<h3>事例 サーバ:CUPS(BSD-lprから移行)、クライアント:KDEアプリケーション(CUPS使用)、Windowsクライアント、lprクライアント</h3>
<p>　ここは小さな事業所です。いままでSamba+lprでプリントサーバを立てていました。これをCUPSベースに完全に移行させることにしました。<br />移行の際に必要な要件は以下の通りです。</p>
<ul>
<li>今まで使用していたlpr、Sambaのサービスは設定変更なしで使えること(CUPSのlpr互換コマンドをインストール)</li>
<li>新規のKDEクライアント(CUPSクライアント)とWindows2000/XPクライアントはIPPベースで使用する</li>
</ul>
<p>それでは一つづつ設定を見ていきましょう。それぞれリンクされたドキュメントを見ればできます。</p>
<h4><a href="./remote_cups.html">リモートCUPSサーバの設定</a></h4>

<h4><a href="./samba_cups.html">Sambaサーバの設定</a></h4>

<h4><a href="./remote_kde.html">新規KDEクライアントの設定</a></h4>

<h4><a href="./ipp_fromwin.html">新規Windows2000/XPクライアントの設定</a></h4>

<h4>いままでのSamba/lprクライアント (そのままの設定でOKです:)。</h4>

<p>これで移行は完了です。快適なCUPS生活が始まります:)。</p>

<p>最終更新日：2002年11月18日</p>
