---
title: Samba で CUPS
---

<img src="./full_logo.jpg" alt="title" />

<p>SambaでCUPSを使用するときいくつか設定しておく必要があります。以下に箇条書きでまとめておきます。
<br />(なおここで述べた方法の他に、Windows2000/XPクライアントから直接IPPポートを使用して印刷するという方法があります。これはクライアント側で新しい設定が必要ですがSambaを経由しないためSambaで設定ミスをしても影響を受けなく便利です。新規にクライアントを追加する場合はIPPのほうがおすすめです。)</p>

<h3>CUPS側の設定</h3>

<p>CUPSの設定ファイルのうち、以下のファイルの以下の行のコメント(#)を外します。これらの設定はSambaをRawプリントサーバとして使用しているときに必要です。</p>
<ul>
<li>/etc/cups/mime.convs<br />
<u>#</u>application/octet-stream application/vnd.cups-raw 0 -</li>

<li>/etc/cups/mime.types<br />
<u>#</u>application/octet-stream</li>
</ul>
<p>完了したらcupsを再起動してください。</p>

<h3>Samba側の設定</h3>
<ul>
<li>CUPSサポートありでコンパイルします。</li>
<li>smb.confのglobalセクションに以下を追加します。以下の設定をすることで印刷システムとしてCUPSを使用します。<br />
<br />printcap name = cups<br />
printing = cups</li>
</ul>
<p> 一応smbdを再起動して、SWATでプリンタがマージされているか確認して下さい。<br />
<span class="c2">ちなみにCUPS使用時にSambaでスプールディレクトリの印刷データファイルが消えないのは<a href="http://www.samba.org/samba/whatsnew/samba-2.2.6.html">バグ</a>です。2.2.6では直っているそうです。</span>
</p>

<p>最終更新日：2002年11月18日</p>
