---
title: 新規KDEクライアントの設定
---

<img src="./full_logo.jpg" alt="title" />

<p>
ここではリモートCUPSサーバへの接続(IPPを利用してCUPSサーバと通信する場合)を解説します。サーバマシンにてKDE印刷マネージャ、またはCUPS設定ツールでプリンタを追加しておいてください。
この場合使用されるプリンタは前の例では「hp990c」になります(注)。KDEでのプリンタの追加ですから<a href="./setting.html">KDEを使用した設定</a>で見たものと手順はほとんど同じです(注2)。

<br />(注)KDEクライアントはプリンタ言語の出力をサーバに送るのではなく、PS出力をサーバに送ります(つまりサーバサイドでラスタ化します)。
<br />(注2)言いかえればCUPSシステムを使用するときのローカルプリンタの設定は、ローカルCUPSサーバへのプリンタ設定の追加、クライアントをlocalhost:631という(リモート)サーバに接続するための設定を行っていることになります)

<br />それでは一つ一つ手順を見ていきましょう。まず印刷マネージャから右クリックし「プリンタ/クラスの追加」を選択します。

<br /><br />
<img src="" alt="" /><br />
「リモートCUPSサーバ」を選択します。
<br />
<br />

<br />
<img src="./remote16.png" alt="" /><br /><br />

<br />
<img src="./remote17.png" alt="" /><br /><br />

<br />
<img src="./remote18.png" alt="" /><br /><br />

<br />
<img src="./remote19.png" alt="" /><br /><br />

<br />
<img src="./remote20.png" alt="" /><br /><br />

<br />
<img src="./remote21.png" alt="" /><br /><br />

<br />
<img src="./remote22.png" alt="" /><br /><br />

<br />
<img src="./remote23.png" alt="" /><br /><br />

<br />
<img src="./remote24.png" alt="" /><br /><br />

<br />
<img src="./remote25.png" alt="" /><br /><br />

<br />
<img src="./remote26.png" alt="" /><br /><br />

<br />
<img src="./remote27.png" alt="" /><br /><br />

<br />
<img src="./remote28.png" alt="" /><br /><br />



プリンタのモデルを選択するところは<a href="./setting.html">KDEを使用した設定</a>と同じです。
<br />

</p>

<p>最終更新日：2002年11月18日</p>
